:root {
    --bg-color: #140626;
    --accent-color-1: #3FA0FA;
    --accent-color-2: #EA57DB;
    --primary-color: #412381;
    --primary-color-hover: #572eaf;
    --primary-color-active: #7754c2;
    --primary-color-opac: #4123812a;
    --text-color: #FAFAFA
  }

/*GLOBAL*/
*{
  font-family: 'Inria Sans', sans-serif;
  font-weight: 300;
}

body, html{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--bg-color);
}

button{
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

/* HEADER */
.header{
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  pointer-events: all;
  backdrop-filter: blur(18px);
}

.header-title{
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 16px;
}

.menu-icon{
  background-color: transparent;
  margin-right: 16px;
}

.menu-SVG{
  width: 1rem;
}

/* NAV */
.scroll-indicator{
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
  pointer-events: none;
}

.scroll-indicator > *{
  width: 24px;
  grid-column-start: 1;
  grid-column-end: 1;
  pointer-events: none;
  }

.scroll-indicator > img{
  margin-left: 8px;
}

.dot{
  grid-row-start: 1;
  grid-row-end: 1;
}

.slot-1{
  grid-row-start: 1;
  grid-row-end: 1;
}

.slot-2{
  grid-row-start: 2;
  grid-row-end: 2;
}

.slot-3{
  grid-row-start: 3;
  grid-row-end: 3;
}

.slot-4{
  grid-row-start: 4;
  grid-row-end: 4;
}

.expanded-menu{
  display: flex;
}

.expanded-menu > button{
  font-size: 1.25rem;
  height: 56px;
  padding: 0 16px;
}

.opened-menu{
  color: var(--text-color);
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 100vh;
  z-index: -1;
  width: 30%;
  min-width: 150px;
}

.opened-menu > button{
  margin-bottom: 16px;
  font-size: 2rem;
  opacity: 100%;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  width: 100%;
}

/* MAIN */
.fixed-ui{
  z-index: 1;
  position: fixed;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content 1fr min-content 1fr;
  pointer-events: none;
}

img[class^='slot-']{
  border-radius: 50%;
  z-index: 0;
}

.item-1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.item-2{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.main{
  color: var(--text-color);
  overflow: hidden;
}

.section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section > img{
  z-index: -1;
}

.top{
  height: 100vh;
  justify-content: flex-start;
}

.introduction{
  height: 70vh;
  min-height: 500px;
  justify-content: flex-end;
}

.introduction-sub{
  font-size: 1.5rem;
}

.introduction-sub > span{
  color: var(--accent-color-2);
}

.carousel-section{
  height: 100vh;
  min-height: 400px;
}

.contact{
  width: 100%;
  height: 20vh;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: 1.25rem;
  min-height: 100px;
}

.contact-info{
  flex-direction: column;
}

.contact-text{
  font-size: 1rem;
}

.icons{
  display: flex;
  align-items: center;
}

.icons > img{
  margin: 8px;
  width: 32px;
}

.first-text{
  width: 50%;
  font-size: 2rem;
  margin-left: 64px;
}

.second-text{
  width: 50%;
  font-size: 1.5rem;
  margin-right: 64px;
  text-align: end;
}

/*LINK CAROUSEL*/
.link-card-container{
  display: flex;
  justify-content: center;
  width: 50%;
  min-width: 220px;
}

.link-card{
  display: grid;
  gap: 8px;
  background-color: var(--primary-color-opac);
  backdrop-filter: blur(18px);
  width: 100%;
}

.blue-corner{
  width: 100px;
  height: 100px;
  border-top: 2px solid var(--accent-color-1);
  border-left: 2px solid var(--accent-color-1);
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.pink-corner{
  width: 100px;
  height: 100px;
  border-bottom: 2px solid var(--accent-color-2);
  border-right: 2px solid var(--accent-color-2);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.card-content{
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 100%;
}

.link-title{
  font-style: italic;
}

.link-text{
  text-align: center;
  width: 90%;
}

.link-tools{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}

.link-tools > div{
  border: 1px solid var(--accent-color-1);
  width: fit-content;
  border-radius: 1rem;
  margin: 4px;
  padding: 0 0.5rem;
}

.carousel{
  display: flex;
  justify-content: center;
  padding: 0 32px 0 32px;
  width: 100%;
}

.link-button{
  margin-top: 24px;
  background-color: var(--accent-color-2);
  width: 6rem;
  border-radius: 0.5rem;
}

/*ART*/
.blue-planet{
  position: absolute;
  /* 0.4 */
  right: -150px;
  /* 0.28 */
  bottom: -100px;
  width: 50%;
  max-width: 720px;
}

.red-planet{
  position: absolute;
  left: -125px;
  bottom: -250px;
  width: 50%;
  max-width: 720px;
}

.black-hole{
  position: absolute;
  right: -125px;
  bottom: -150px;
  width: 50%;
  max-width: 800px;
}

@media (orientation: portrait) {
  .blue-planet{
    width: 70%;
  }
  
  .red-planet{
    width: 70%;
  }
  
  .black-hole{
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .blue-planet{
    width: 80%;
    max-width: 500px;
  }
  
  .red-planet{
    width: 80%;
    max-width: 400px;
  }
  
  .black-hole{
    width: 80%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .blue-planet{
    width: 60%;
  }
  
  .red-planet{
    width: 60%;
  }
  
  .black-hole{
    width: 60%;
  }

  @media (orientation: portrait) {
    .blue-planet{
      width: 100%;
    }
    
    .red-planet{
      width: 100%;
    }
    
    .black-hole{
      width: 100%;
    }
  }
}